* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #fullheight{
    margin: 0;
    height: 100%;
    overflow: hidden;
    min-height: 100% !important;
}

input,
button,
textarea,
select {
    margin: 0;

    font: inherit;
}
