.TopRight {
}

.container{
  padding-top: 40px;
  padding-right: 60px;
}

.data {
  padding-top: 20px;
}

.title{
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
  font-weight: 300;
}