.Progress {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;

  .pros {
    margin-right: 15px;
  }

  span {
    color: var(--primary-color);
    width: 70px;
  }
}

progress {
  -webkit-appearance: none;
  padding-right: 10px;

}

progress[value] {
  height: 18px;
  width: 180px;
  border-radius: 0 20px 20px 0;
}

::-webkit-progress-bar {
  background-color: var(--bg-color-secondary);
  border-radius: 0 20px 20px 0;

}

::-webkit-progress-value {
  background-color: var(--secondary-color);
  border-radius: 3px 20px 20px 3px;

}
