.WeatherDescCard {
  background: var(--bg-color-inverted);
  border-radius: 30px;
  color: var(--primary-color);
  //margin-top: 10px;
  //padding: 20px 40px;
  height: 100%;
}

.content{
  background: var(--bg-color-inverted);
  border-radius: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 30px;
  height: 100%;

  .icon{
    height: 45px;
    fill: var(--primary-color);
    stroke: var(--primary-color);
  }
}
.info{
  padding-left: 40px;
}

.value {
  font-size: 25px;
  padding-top: 20px;
  font-weight: 300;
}

.title {
  font-weight: 300;
}
