.date{
  display: flex;
  justify-content: space-between;
  padding: 0 0 20px 0;
}

.date_m{
  display: inline-block;
  padding: 0 10px 15px 0;
  width: 100%;
}

.btn {
  margin-right: 20px;
}

.btn_container {
  display: flex;
  justify-content: space-between;
}

.weather_container {
  padding-top: 10px;
  display: flex;
  gap: 1em;
  width: 100%;
}

.weather_container_m {
  display: inline-block;
  width: 100%;
}

.days{
  display: flex;
  justify-content: start;
  width: 100%;
  gap: 1em;
}

.days_m{
  display: inline-block;
  width: 100%;
}