.Clock {
  display: flex;
}

.day {
  padding-left: 40px;
}

.day_m {
  padding-left: 20px;
}

.time {
  margin-left: 40px;
  font-weight: 100;
}

.time_m {
  margin-left: 12px;
  font-weight: 500;
}

.size_s {
  font-size: 12px;
  padding-top: 20px;
  font-weight: 500;
}

.size_l {
  font-size: 40px;
  padding-top: 20px;
  font-weight: 100;
}
