.Sidebar {
  height: 100%;
  width: var(--sidebar-width);
  background: var(--bg-color-inverted);
  border-radius: 30px;
  position: relative;
  display: flex;
  justify-content: center;
}

.SidebarMobile{
  height: 96%;
  width: var(--sidebar-width-mobile);
  background: var(--bg-color-inverted);
  border-radius: 30px;
  position: relative;
  display: flex;
  justify-content: center;
}

.sidebar_btn {
  padding-top: 20px;
  margin-left: 15px;
  margin-right: 15px;

}

.btn {
  margin-top: 15px;
}

.switcher {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.icon {
  fill: white;
}
