.Sidebar {
  height: 100%;
  width: var(--sidebar-width);
  background: var(--bg-color-inverted);
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.switcher {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}