.app_dark_theme {
    --bg-color: #101014;
    --bg-color-inverted: #1E1E1E;
    --bg-color-secondary: #2F2F2F;



    --primary-color: #FFFFFF;
    --secondary-color: #BBD8EC;
    --secondary-color-dark: #ADCADE;

}
