.app_dark_theme {
    --bg-color: #101014;
    --bg-color-inverted: #1E1E1E;
    --bg-color-secondary: #2F2F2F;

    --primary-color: #FFFFFF;
    --primary-color-inverted: #101014;
    --primary-color-inverted-secondary: #313131;
    --secondary-color: #BBD8EC;
    --secondary-color-dark: #ADCADE;

    --border-color: #3d3d3d;
    --text-color-secondary: #ababab;

}
