:root {
    --bg-color: #FFF;
    --bg-color-inverted: #e4e4ff;
    --bg-color-secondary: #b5b4ff;

    --primary-color: #3f404f;
    --primary-color-inverted: #f8f8f8;
    --primary-color-inverted-secondary: #f8f8f8;
    --secondary-color: #5A58FA;
    --secondary-color-dark: #4a47fa;

    --border-color: #cac9ff;
}
