.Week {
}

.weather_container {
  padding-top: 10px;
  display: flex;
  gap: 1em;
  width: 100%;
}

.weather_container_m {
  display: inline-block;
  width: 100%;
}

.days{
  display: flex;
  justify-content: start;
  width: 100%;
  gap: 1em;
}

.days_m{
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

.cards_cont {
  overflow-y: scroll;
}