.wrap{
  padding-left: 30px;
  width: 100%;
  height: 100%;
  //display: flex;
  //flex-wrap: wrap;
  justify-content: start;

  div {
    flex: 1;
  }
}

.top {
  display: flex;
  //flex: 1;

}

.d{
  background: #137EF5;
  //max-width: 70%;
  height: 335px;
}

.d5 {
  background: #041c65;
  //flex: 1;
}

.d2 {
  background: #b5b4ff;
}

.d3 {
  background: coral;
}

.d4 {
  background: aquamarine;
}


