.BottomRight{
  padding-left: 10px;
  padding-top: 20px;
}

.container {
  height: calc(100vh - var(--navbar-height) - var(--top-container-height) - 20px);

  .title {
    padding-left: 15px;
  }
}

.btn {
  margin-left: 15px;
}
